.announcement-container
  - content = kramdown(data.announcement.content)
  - button_link = data.announcement.button_link
  - button_text = data.announcement.button_text
  %img.icon{ src: "/images/press/press-release-icon.svg" }
  .content
    = content
  %a.btn.cta-btn.orange.flex-shrink.announcement-link{ href: "#{button_link}" }
    = button_text
