.flex-container.flex-column.justify-center.align-center
  %h2.margin-top0 Install GitLab
  %p Learn more about how GitLab can be your complete devops solution
  %a.btn.cta-btn.orange.margin-top20{ href: "/sales/" }
    Contact sales
  %a.margin-top20{ href: "/pricing/" }
    Or dive in with a free trial
