- current_page.data.extra_css ||= []
- current_page.data.extra_css |= ['salary-calculator.css']

- current_page.data.extra_js ||= []
- current_page.data.extra_js |= ['libs/clipboard.min.js']
- current_page.data.extra_js |= ['salary-calculator.js']

- if role.salary
  .salary-container.col-xs-12{data: {salary: role.salary}}
    %h2#compensation Compensation
    .col-sm-8
      .col-sm-6
        .dropdown.level
          - if role.levels
            - default_level = role.levels.detect { |l| l[:is_default] }
            %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
              %span.label Level
              %span.title.title-truncated{'data-selected' => default_level[:factor] }
                = default_level[:title]
              %span.subtitle
                = default_level[:factor]
              %i.fa.fa-chevron-down
            %ul.dropdown-menu.dropdown-scroll
              - role.levels.each do |level|
                %li
                  %span.key
                    = level[:title]
                  %span.value
                    = level[:factor]
          - else
            %button.dropdown-menu-toggle.btn{type: 'button', disabled: 'disabled', 'data-toggle' => 'dropdown'}
              %span.label Level
              %span.title{'data-selected' => '1.0'} N/A
              %span.subtitle 1.0
      .col-sm-6
        .dropdown.experience
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Experience
            %span.title{data: { 'selected' => '0.9 to 1.1', 'min' => '0.9', 'max' => '1.1'} } Experience range
            %span.subtitle 0.9 to 1.1
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Experience range
              %span.value{'data': {'min': '0.9', 'max': '1.1'}} 0.9 to 1.1
            %li
              %span.key Learning the role
              %span.value{'data': {'min': '0.9', 'max': '0.949'}} 0.9 to 0.949
            %li
              %span.key Growing in the role
              %span.value{'data': {'min': '0.95', 'max': '0.999'}} 0.95 to 0.999
            %li
              %span.key Thriving in the role
              %span.value{'data': {'min': '1.0', 'max': '1.049'}} 1.0 to 1.049
            %li
              %span.key Expert in the role
              %span.value{'data': {'min': '1.05', 'max': '1.1'}} 1.05 to 1.1
      .col-sm-6
        .dropdown.country
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Country
            %span.title --
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li.filter-container
              %input.filter-input.js-country-filter{ type: 'search', placeholder: 'Search country'}
              %i.fa.fa-search
            - data.location_factors.uniq(&:country).sort_by(&:country).each do |p|
              %li
                %span.key= p.country
      .col-sm-6
        .dropdown.area
          %button.dropdown-menu-toggle.disabled.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Area
            %span.title --
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li.filter-container
              %input.filter-input.js-area-filter{ type: 'search', placeholder: 'Search area'}
              %i.fa.fa-search
            - data.location_factors.sort_by(&:area).each do |p|
              %li.hidden{'data-country' => p.country}
                %span.key= p.area
                %span.display-value= sprintf('%0.3f', (p.locationFactor*0.01).round(3))
    .col-sm-4
      .compensation
        .title Annual Compensation
        .amount --
        .converted-local-currency.hide
          %a{href: '/handbook/people-operations/global-compensation/#exchange-rates'}
    .col-sm-12.hide.js-country-no-hire
      .alert.alert-warning
        Unfortunately GitLab is not hiring at your selected country at this time. Please read our
        %a{href: '/handbook/hiring/#country-hiring-guidelines'} hiring handbook
        for more details.
    .col-sm-12.formula-container
      %h4 How did we calculate your compensation?
      .formula
        .variable-group
          .variable.benchmark
            %span.name SF benchmark
            %span.value= "$#{number_with_delimiter(role.salary)}"
        .symbol.multiplication x
        .variable-group
          .variable.locationFactor
            %span.name Location Factor
            %span.value --
        .symbol.multiplication x
        .variable-group
          .variable.level
            %span.name Level
            %span.value 1.0
        .symbol.multiplication x
        .variable-group
          .variable.experience
            %span.name Experience
            %span.value 0.9 to 1.1
        .symbol.multiplication x
        .variable-group
          .variable.contractType
            %span.name Contract Type
            %span.value --
        .symbol.multiplication x
        .variable-group
          .variable.countryFactor
            %span.name Country Factor
            %span.value --
      .explanation
      Find out
      = succeed '.' do
        %a{href: '/handbook/people-operations/global-compensation#compensation-calculator'} how our calculator works
      You are also eligible for
      %a{href: '/handbook/stock-options/'} stock options
      and
      = succeed '.' do
        %a{href: '/handbook/benefits/'} other benefits
      %span.contract-type-container.hidden
        Based on the information provided, we expect you will be
        %span.grammer a
        %strong.contract-type contractor
        at GitLab
        %span.company-type BV.
