---
layout: default
title: IDC Innovators - Agile Code Development Technologies, 2018
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline IDC Innovators Agile Code Development Technologies, 2018
        %h2.page-subtitle by International Data Corporation

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %img{ src: "/images/logos/idc-innovator.png" }
            %p.margin-top20 Innovative DevOps teams are embracing the latest technologies to accelerate their development practices. It's no surprise that focusing on emerging vendors in the agile code development market is a priority to dramatically streamline their update process.
            %p International Data Corporation published an IDC Innovators report on the agile code development space to help IT professionals, business executives, and the investment community make fact-based decisions on their DevOps technology investments.
            %p Download the full report to learn why GitLab was chosen as an IDC Innovator, including an overall assessment, key differentiators, challenges in the market, and related research.

        .col-md-4.col-md-offset-1
          %h2 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{style: "visibility:hidden;"}
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://page.gitlab.com/rs/194-VVC-221/images/IDC-Innovators-Agile-Code-Development-Technologies-2018.pdf" target="_blank">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
